.home {
    margin: 0 10%;
    /* Применяем отступы с обеих сторон блока */
    /* background: red; */
    display: flex;
    justify-content: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 3 столбца */
    gap: 20px;
    /* Равный пробел между товарами */
    padding: 20px;
    /* Отступы от краев блока */
    align-items: center;
    margin-top: 150px;
}

.item {
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    /* Отступы вокруг товаров */
    text-align: center;
    /* height: 175px; Из-за этих свойств картинки съезжают */
    /* width: 160px; */
    margin: 10px;
    border: 1px solid #f0f0f0;
}

.item:hover {
    border: 1px solid rgb(88, 88, 88);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.item img {
    display: block;
    /* Чтобы изображение не имело отступов сверху и снизу */
    margin: 0 auto;
    /* Центрирование изображения по горизонтали */
}

.home-product-name {
    width: 167px;
    height: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Определяем количество строк перед достижением многоточия */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.15;
}
